.container {
  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, rgb(36, 36, 223), rgb(7, 7, 166));

}

.calculator {
  margin: 20px 500px;
  display: inline-block;
  justify-content: center;
  padding: 20px;
  background-color: #205b7a;

}

form input {
  border: none;
  outline: 0;
  width: 50px;
  height: 50px;
  font-size: 16px;
  background-color: #626065;
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;

}

form input[type="button"]:hover {
  background-color: rgb(137, 22, 345);

}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5pa 0px 15px 0px;
}

form .display input {
  width: 200px;
  font-size: 40px;
  padding: 3px 7px;
  background-color: rgb(64, 64, 64);
}